*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#077DEF;
    font-family: "Manrope", sans-serif;
}
.container {
    margin: auto;
    margin-top: 100px;
}

.logo {
    background-color: #252cf0;
    min-height: 61px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    margin: auto;
}

.logo img {
    width: 45px;
}

.form-container {
    background-color: #fff;
    min-height: 400px;
    max-width: 800px;
    border-radius: 10px;
    margin: 0 auto;
}

form {
    padding: 30px;
}

form h2 {
    color: #077DEF;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    gap: 30px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    background-color: #077DEF;
    padding: 10px;
    border: none;
    border-radius: 10px;
}


button a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
button:hover {
    background-color:#1019eb;
}
.new-acct a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding-left: 30%;
}

@media (max-width: 1024px) {
    .container {
        margin-top: 100px;
        padding: 60px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }

    form {
        padding-left: 20px;
    }
    form h2 {
        font-size: 1rem;
    }
}
    