*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    background-color:#077DEF;
    font-family: "Manrope", sans-serif;
}
.container {
    margin: auto;
    margin-top: 100px;
}

.logo {
    background-color: #252cf0;
    min-height: 61px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    margin: auto;
}
.logo p {
    color: #fff;
}

.logo img {
    width: 45px;
}

.alert-container {
    background-color: #fff;
    min-height: 300px;
    max-width: 800px;
    border-radius: 10px;
    margin: 0 auto;
}

.alert {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;

}

.alert h2, p{
    color: #077DEF;
}

button {
    background-color: #077DEF;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

button a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

button:hover {
    background-color:#1019eb;
}


@media (max-width: 1024px) {
    .container {
        margin-top: 100px;
        padding: 60px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }

    form {
        padding-left: 20px;
    }
    form h2 {
        font-size: 1rem;
    }
}
    