* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h5 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(7, 125, 239);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.9s ease;
}

.navbar ul li a:hover {
  transition: all 0.9s ease;
  text-decoration: underline;
}

.menu-bar {
  display: none;
}

.order-history-hero::before {
  content: "";
  position: absolute;
  /* top: 0; */
  right: 0;
  background: url("../imagess/prdct-orderhistory-img/unsplash-kdgi-nc-0-s-de-i0.png")
    no-repeat center center/cover;
  height: 600px;
  z-index: -1;
  opacity: 0.9;
  width: 100%;
  /* border: 3px solid green; */
}

.order-history-content {
  height: 70%;
  padding: 40px;
}

.content-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content-box h1 {
  font-family: sans-serif;
  margin: 40px 0px;
  font-size: 2.5rem;
  text-align: center;
}

form {
  border: 2px solid #1019eb;
  width: 51.6%;
  height: 15.6%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-radius: 25px;
}

.top-search-bar {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

#search-drugs {
  width: 120%;
  /* height: 5vh; */
  font-family: sans-serif;
  font-size: 22px;
  border: none;
  outline: none;
}

.btn1 {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.order-tabs {
  width: 51%;
  border-bottom: 2px solid black;
  margin-top: 40px;
}

.order-tabs li {
  font-family: sans-serif;
  font-size: 20px;
}

.order-tabs ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  list-style: none;
}

.order-tabs ul li {
  padding: 10px 35px;
}

.order-tab-message {
  font-family: sans-serif;
  padding: 60px 0px;
  font-size: 16px;
}

.all-tab,
.current-tab,
.completed-tab {
  cursor: pointer;
}

.orderTab {
  font-size: 24px;
}

/*1180 ipad air landscape*/
@media only screen and (min-width: 1180px) and (max-width: 1185px) {
  .logo {
    margin-left: 25px;
  }

  .navbar ul li {
    font-size: 18px;
  }

  .order-history-hero::before {
    height: 92vh;
  }
}

/*820-1104 Galaxy fold2*/
@media only screen and (min-width: 820px) and (max-width: 1104px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 0px 50px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
  }

  .navbar {
    padding: 10px 0px;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%; /*0*/
    width: 420px;
    line-height: 40px;
    height: 210px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 49px;
    color: white;
    font-size: 22px;
  }

  .order-history-hero::before {
    height: 93vh;
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 86vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    height: 8vh;
  }

  #search-drugs {
    font-size: 18px;
    margin-left: -10px;
    /* border: 1px solid black; */
    width: 138%;
  }

  .btn1 {
    margin-right: -14px;
    font-size: 20px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 30px;
  }

  .order-tabs ul li {
    padding: 0px;
  }

  .order-tab-message {
    font-size: 1.8rem;
    margin-top: 10px;
  }

  body {
    overflow-x: hidden;
  }
}

/*800 samsung tab S7*/
@media only screen and (min-width: 800px) and (max-width: 802px) {
  .logo {
    margin-left: 40px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
    font-size: 18px;
  }

  .navbar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%; /*0*/
    width: 420px;
    line-height: 40px;
    height: 210px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 45px;
    color: white;
    font-size: 22px;
  }

  .order-history-hero::before {
    height: 93vh;
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 88vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    /* padding: 0px; */
    height: 8vh;
    display: flex;
  }

  #search-drugs {
    font-size: 19px;
    margin-left: -15px;
    /* border: 2px solid black; */
    width: 138%;
    margin-top: 5px;
  }

  .btn1 {
    margin-right: -14px;
    font-size: 23px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 35px;
  }

  .order-tabs ul li {
    padding: 0px;
  }

  .order-tab-message {
    font-size: 1.5rem;
  }

  body {
    overflow-x: hidden;
  }
}

/*width 414px - iphone11*/
@media only screen and (min-width: 414px) and (max-width: 420px) {
  .logo {
    margin-left: -240px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
  }

  .navbar {
    padding: 10px 0px;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%; /*0*/
    width: 420px;
    line-height: 40px;
    height: 210px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 19px;
    color: white;
  }

  .order-history-hero::before {
    height: 92.5vh;
    /* border: 3px solid black; */
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 86vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    /* padding: 0px; */
    height: 8vh;
  }

  #search-drugs {
    font-size: 14px;
    margin-left: -15px;
    /* border: 1px solid black; */
    width: 138%;
  }

  .btn1 {
    margin-right: -14px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 25px;
  }

  .order-tabs ul li {
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }
}

/*390 width Iphone 12*/
@media only screen and (min-width: 390px) and (max-width: 392px) {
  .logo {
    margin-left: -210px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
  }

  .navbar {
    padding: 10px 0px;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%;
    /*0*/
    width: 320px;
    line-height: 35px;
    height: 200px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 20px;
    color: white;
  }

  .order-history-hero::before {
    height: 92vh;
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    /* padding: 0px; */
    height: 8vh;
  }

  #search-drugs {
    font-size: 12px;
    margin-left: -15px;
    /* border: 1px solid black; */
    width: 130%;
  }

  .btn1 {
    margin-right: -50px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 25px;
  }

  .order-tabs ul li {
    padding: 0px;
  }
}

/*393px Redmi note 9*/
@media only screen and (min-width: 393px) and (max-width: 400px) {
  .logo {
    margin-left: -210px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
  }

  .navbar {
    padding: 10px 0px;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%;
    /*0*/
    width: 320px;
    line-height: 35px;
    height: 200px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 20px;
    color: white;
  }

  .order-history-hero::before {
    height: 93vh;
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    /* padding: 0px; */
    height: 8vh;
  }

  #search-drugs {
    font-size: 12px;
    margin-left: -15px;
    /* border: 1px solid black; */
    width: 130%;
  }

  .btn1 {
    margin-right: -50px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 25px;
  }

  .order-tabs ul li {
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }
}

/*Galaxy S21*/
@media only screen and (min-width: 360px) and (max-width: 365px) {
  .logo {
    margin-left: -190px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
  }

  .navbar {
    padding: 10px 0px;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%; /*0*/
    width: 320px;
    line-height: 35px;
    height: 200px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 17px;
    color: white;
  }

  .order-history-hero::before {
    height: 91.9vh;
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    /* padding: 0px; */
    height: 8vh;
  }

  #search-drugs {
    font-size: 12px;
    margin-left: -15px;
    /* border: 1px solid black; */
    width: 130%;
  }

  .btn1 {
    margin-right: -50px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 25px;
  }

  .order-tabs ul li {
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 320px) and (max-width: 325px) {
  .logo {
    margin-left: -170px;
  }

  .logo img {
    height: 5vh;
  }

  .logo h5 {
    font-size: 11px;
    margin-left: 2px;
  }

  .navbar {
    padding: 10px 0px;
  }

  .list {
    position: absolute;
    top: 44%;
    right: -130%; /*0*/
    width: 320px;
    line-height: 35px;
    height: 200px;
    background: rgb(7, 125, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    transition: all 0.5s ease;
  }

  .list.open {
    right: 0;
  }

  .menu-bar {
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    /* top: 4px; */
    right: 17px;
    color: white;
  }

  .order-history-content {
    padding: 20px 0px;
  }

  .content-box {
    width: 90vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 85%;
    /* padding: 0px; */
  }

  #search-drugs {
    font-size: 12px;
    margin-left: -15px;
    /* border: 1px solid black; */
    width: 130%;
  }

  .btn1 {
    margin-right: -50px;
  }

  .order-tabs {
    width: 85%;
    margin-top: 25px;
  }

  .order-tabs ul li {
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }
}
