* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #077def;
  font-family: "Manrope", sans-serif;
}

.container {
  background-color: #fff;
  min-height: 1100px;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
}
.back {
  padding-top: 50px;
  padding-left: 70px;
}
.back a  {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  
}
/* logo */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #077def;
}

.logo img {
  width: 70px;
  height: 45px;
}

.headnote p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-top: 20px;
}
.headnote h2 {
  text-align: center;
}

/* Registration button */
.reg-btn {
  margin-top: 50px;
  padding-left: 72px;
}

/* pharmacist button */
.pharmacist-btn {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.pharmacist-btn a {
  color: #7a7979;
  font-size: 1rem;
  text-decoration: none;
}

.pharmacist-btn a:hover {
  color: #077def;
}

/* pharmacy button */
.pharmacy-btn {
  background-color: #077def;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 100px;
}

.pharmacy-btn a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
.pharmacy-btn a:hover {
  color: #fff;
}
.pharmacy-btn:hover {
  background-color: #0056b3;
}

/* Account Information*/
.info {
  margin-top: 30px;
  padding-left: 72px;
}
.info p {
  color: #000000;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 2px solid #ccc;
  max-width: 44%;
}

/* pharmacy form */

.pharmacy-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 72px;
  gap: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #7a7979;
  font-size: 1rem;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 48%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}
/* additional details */
.details p {
  color: #000000;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 2px solid #ccc;
  max-width: 48%;
  margin-bottom: 10px;
}

/* time */

.time-container {
  width: 48%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.time label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.time input[type="time"] {
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

/*submit */
.submit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

button[type="submit"] {
  width: 48%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
/*
button[type="submit"]:hover {
  background-color: #1019eb;
}*/

.submit-btn a {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  width: 48%;
  padding: 7.5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
/*
button[type="reset"] {
  background-color: #fff;
  border: 1px solid #6e6d6d;
  border-radius: 10px;
  width: 48%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

button[type="reset"]:hover {
  color: #0056b3;
}*/

@media (max-width: 500px) {
  .container {
    min-height: 900px;
  }

  .logo img {
    width: 50px;
  }
  .healthguard1 {
    font-size: 1rem;
    font-weight: 800;
  }

  /* headnote */

  .headnote p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    margin-top: 20px;
  }
  .headnote h2 {
    text-align: center;
    font-size: 1.1rem;
  }
  /* registration button */
  .reg-btn {
    margin-top: 50px;
    padding-left: 20px;
  }

  /* pharmacist button */
  .pharmacist-btn {
    max-width: 40%;
  }
  .pharmacist-btn a {
    font-size: 0.9rem;
  }

  /* pharmacy button */
  .pharmacy-btn {
    padding: 10px;
    border-radius: 10px;
    margin-left: 10%;
    max-width: 40%;
  }
  .pharmacy-btn a {
    font-size: 1rem;
  }
  .pharmacy-btn a:hover {
    color: #077def;
  }

  /* form section */
  .pharmacy-form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
  }

  /* Account Information*/
  .info {
    margin-top: 30px;
    padding-left: 20px;
  }
  .info p {
    max-width: 90vw;
  }

  .form-group {
    flex: 0 0 100%;
  }

  .form-group label {
    font-size: 1rem;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
  }
  .details p {
    max-width: 90vw;
  }

  /* time */
  .time-container {
    width: 100%;
  }

  /* time */
  .submit-btn {
    width: 100%;
  }
}
